html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  font-family: "Berkeley Mono", monospace;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

main {
  max-width: 80ch;
  overflow-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;
}

body.gallery-page ul.gallery {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

body.gallery-page ul.gallery img {
  width: 100%;
  border-radius: 8px;
}

body.gallery-page ul.gallery,
body.gallery-page ul.gallery li {
  list-style: none !important;
  margin: 0;
  padding: 0;
}